@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .correct {
    @apply text-[#F2B802];
  }

  .wrong {
    @apply text-[#FD124A];
  }

  .caret {
    position: absolute;
    left: 0;
    top: 0%;
    width: 2px;
    height: 35px;
    background-color: hotpink;
    animation: caretBlink 0.1s ease;
    transition: all 0.1s ease;
  }

  @frame caretBlink {
  }
}
